<include file="../../../Public/header"/>
		<div id="content" style="margin-top:20px;margin-right:30px;">
			<div id="breadcrumb">
				<a href="{:U('Home/User/index')}" title="GO TO HOME" class="tip-bottom"><i class="icon-home"></i>首页</a>
				<a class="current">修改密码</a>
			</div>
			<!----Insert start ------>
			<div class="container-fluid">

				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-content nopadding">
								<form action="{:U('Home/User/resetpassword')}" method="post" class="form-horizontal" onsubmit="return chkform()">
									<div class="control-group">
										<label class="control-label">原始密码</label>
										<div class="controls">
											<input type="password" name="oldpassword" id="oldpassword" required onblur="return chkpass();"/>
										</div>
									</div>                                        
                                    <div class="control-group">
										<label class="control-label">新密码</label>
										<div class="controls">
											<input type="password" name="password" required />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">确认新密码</label>
										<div class="controls">
											<input type="password" name="password2" required />
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"></label>
										<div class="controls">
											<input type="submit" value="保存" class="btn btn-primary"/>
										</div>
									</div>
								</form>
									<script>
										var lock;
										function chkpass(){
											$password = $('#oldpassword').val();
											$.post("{:U('Home/User/setpassword')}",{"password":$password},function(data){
													if(data == 0) {
														alert('原密码不正确！');
	                                                    lock=0;
													}else{
														lock=1;
													}	
										    });
										}
										/*
										$(function(){
											$(':input[name=oldpassword]').blur(function(){
												$password = $(this).val();
												$.post('{:U('User/setpassword')}',{"password":$password},function(data){
													if(data == 0) {
														alert('原密码不正确！');
	                                                    lock=0;
													}else{
														lock=1;
													}	
												});	
											});
										});
										*/
										function chkform(){
											//$(':input[name=oldpassword]').trigger('change');

											//if(lock) return false;
											$password = $(':input[name=password]').val();
											$password2 = $(':input[name=password2]').val();
											if($password==''){
												alert('新密码不能为空！');
												return false;
											}
											if($password!=$password2){
												alert('两次密码输入不一致！');
												return false;
											}
											return true;
										}
										
									</script>
									
							</div>
						</div>
					</div>
				</div>

			</div>
			
			<!----Insert end------>
			<div class="row-fluid">
				<div id="footer" class="span12">
					2014 &copy; 长沙梵天网络科技有限公司 
				</div>
			</div>
		</div>
	</body>
</html>
